.windowWrapper {
    width: 385px;
    height: 570px;
    display: inline-block;
    /* flex-direction: row;
    align-items: stretch;
    justify-content: space-between; */
    border: 3px solid black;
    box-sizing: border-box;
    background: #fff;
}

/* ensalada de col
papa al horno
tacos dorados */